@tailwind base;
@tailwind components;
@tailwind utilities;

.change {
  position: relative;
  top: 1px;
  left: 10px;
}

.item_position {
  position: relative;
  top: 0;
  left: 20px;
}
.icon__letter {
  position: relative;
  top: 13px;
  left: 230px;
  font-size: 20px;
}

.box__pricing {
  position: relative;
  top: -153px;
  left: 200px;
  /* transform: rotateY(80deg); */
}
